<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.cyrillicbilingual</string>
	<key>CFBundleName</key>
	<string>Cyrillic bilingual</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Cyrillic bilingual</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillicbilingual.cyrillicbilingual</string>
		<key>TISIntendedLanguage</key>
		<string>en-UA</string>
	</dict>
</dict>
</plist>
